.App {
  text-align: center;
}

.menu-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu-item {
  float: left;
}

.menu-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu-item a:hover {
  background-color: #111;
}

.upload-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1f2421;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 15px 32px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.upload-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.upload-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.upload-button:hover span {
  padding-right: 25px;
}

.upload-button:hover span:after {
  opacity: 1;
  right: 0;
}

.map-container {
  height: 100vh;
  width: 100vw;
}

.photo-marker {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.upload-preview-container {
  margin: 0;
}

.upload-preview-item {
  padding: 0.7em;
}

.upload-preview {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin-right: 1em;
}

.place-input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
